.week {
	margin: 20px 0;
	padding: 5px;
	list-style: none;
}

.day {
	margin: 0;
	padding: 10px;

	& h2 {
		font-size: 1.2em;
	}
}

.cards {
	margin: -10px 0;
	padding: 0;
	list-style: none;

	& li {
		margin: 10px 0;
		padding: 0;
	}
}

.nav {
	margin: 0;
	padding: 0;
}