.calendar {
	z-index: 10;
}

.controls {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -10px;
	padding: 0;
	list-style: none;

	& > li {
		margin: 10px;

		&:last-child {
			margin-left: auto;
		}
	}
}

.date {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: var(--blue);
	color: var(--neutral_light);
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;

	&::after {
		content: attr(data-date);
		position: absolute;
		top: 0;
		right: 0.25em;
		font-size: 1.5em;
	}

	&.date.date[data-date="1"], &.date.date:nth-child(8) {
		&::before {
			content: attr(data-month);
			position: absolute;
			top: 0.2em;
			left: 0.5em;
			padding: 0;
			opacity: 0.9;
			background: none;
			color: inherit;
			font-family: inherit;
			font-size: 0.7em;
			font-weight: inherit;
		}
	}

	&[data-past="true"] {
		opacity: 0.5;
	}
}

.event {
	position: relative;
	z-index: 5;
	height: max-content;
	max-height: 50%;
	margin-bottom: 5px;
	background: var(--green);
	color: var(--neutral_light);

	&[data-hidden="true"] {
		display: none;
	}
}

.weeksField {
	width: max-content;
}

.start_date {
	display: block;
	font-size: 2em;
	font-weight: 700;
}