---
const {categories, current} = Astro.props
---

<style>
	ul {
		margin: 20px 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		padding: 5px;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&[data-current="true"] {
			font-weight: 700;
		}
	}

</style>

<ul class="recipe_categories">
	{current && <li class="category"><a href="/recipes">All</a></li>}
	{categories.map(({label, slug}) => (
		<li class="category">
			<a 
				href={`/recipes/category/${slug}`}
				data-current={slug === current ? 'true' : 'false'}
			>
				{label}
			</a>
		</li>
	))}
</ul>