---
import RecipeCard from "@components/meals/recipeCard";

const recipes = Astro.props.recipes
---

<style>
	.cards {
		margin: 0;
		padding: 5px;

		& li { 
			margin: 0;
			padding: 5px; 
			list-style: none;
		}  
	}
</style>

<ul class='cards recipe_feed'>
	{
		recipes.map((recipe) => (
			<li class="recipe_item">
				<RecipeCard recipe={recipe} />
			</li>
		))
	}
</ul>