---
import { getCollection } from 'astro:content';
import Layout from '@layouts/default';
import MealPlanner from 'src/react/meals/planner';

const recipes = await getCollection('recipes');

const content = {
	title: 'Meal Planning'
}

---

<Layout content={content}>
	<h1>Meal Planning</h1>
	<MealPlanner client:load recipes={recipes} />
</Layout>
