/* stylelint-disable at-rule-empty-line-before, csstools/use-nesting, comment-empty-line-before */

/* Floats */
/* Recipe Page */
/* .recipe .featured_image {
	float: right;
} */


/* Columns */
/* Shopping List */
/* @media(min-width: 50em) {
	.shopping_list {
		column-fill: balance;
		column-count: 2;
	}
}

@media(min-width: 70em) {
	.shopping_list {
		column-count: 3;
	}
} */



/* Flexbox */
/* Header */
/* .header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header .menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -10px;
}

.header .menu .menu_item {
	margin: 10px;
} */

/* Recipe Feed */
/* .recipe_feed {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between; 
	margin: 20px -10px;
}

.recipe_feed .recipe_item {
	flex: 1 1 200px;
	margin: 10px;
} */

/* Recipe Categories */
/* .recipe_categories {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.recipe_categories .category {
	margin: 10px;
} */


/* Meal Planner */
/* .planner .week {
	display: flex;
	
}

.planner .week .day {
	flex: 1 1 100px;
} */

/* Shopping List Item */
/* .shopping_list .list_item {
	display: inline-flex;
	flex-wrap: wrap;
	align-content: center;
}

.shopping_list .list_item label {
	flex: 1 1 80%;
} */

/* Task List */
/* .todo_list {
	display: flex;
	flex-direction: column;
}

.todo_list .todo_item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.todo_list .todo_item:has(input[type="checkbox"]:checked) {
	order: 2;
} */


/* CSS Grid */
@supports(grid-template-areas: '.') {
	/* Recipe Feed */
	/* .recipe_feed {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		margin: 20px 0;
	}

	.recipe_feed .recipe_item {
		margin: 0;
	} */

	/* Recipe Card */
	/* .recipe_card {
		display: grid;
		grid-gap: 10px; 
		grid-template-areas: 
			'img img' 
			'title title' 
			'level time' 
			'save save';
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows:auto 1fr auto;
	}

	.recipe_card .feature_image {
		grid-area: img;
	}

	.recipe_card .save_button { 
		grid-area: save;
	}

	.recipe_card .title {
		grid-area: title;
		margin: 0;
	} */
}
